.auth-form-container, .login-form{
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    align-items: center;
    color: #424372;
  }
  
  .auth-form-container {
    padding: 5rem; 
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input{
    margin: 0.5rem 0;
    padding: 0.7rem;
    border: none;
    border-radius:10px;
  }
  
  button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #424372;
  }
  
  .link-btn{
    background: none;
    color: white;
    text-decoration: underline;
  
  }
  
  